<!DOCTYPE html>
<html>

    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Municipalidad de Distrital de Villa el Salvador</title>

        <meta name="keywords" content="MUNICIPALIDAD, VILLA EL SALVADOR" />
        <meta name="description" content="Municipalidad Distrital de Villa el Salvador">
        <meta name="author" content="munives.gob.pe">

        <!-- Favicon -->
        <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Web Fonts  -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400"
            rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
       
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />       

    </head>

    <body>
        <div class="body">
            <div role="main" class="main">
                <header id="header" class="header-effect-shrink"
                    data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
                    <div class="header-body">
                        <div class="header-container container"
                            style="background-image:linear-gradient(to right bottom, rgba(3, 64, 135, 0.8), rgba(3, 64, 135, 0.8))">
                            <div class="header-row">
                                <div class="header-column">
                                    <div class="header-row">
                                        <div class="header-logo">
                                            <a href="index.php">
                                                <img alt="Porto" width="250" height="80" data-sticky-width="82"
                                                    data-sticky-height="40" src="../img/logo-white.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="container py-2">
                    <div class="row mt-5">
                        <div class="col">
                            <h4 class="mb-4">Contenido</h4> 
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="tabs tabs-vertical tabs-right tabs-navigation tabs-navigation-simple">
                                        <ul class="nav nav-tabs col-sm-3">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#resgdis2020" data-toggle="tab">RESOLUCIONES GDIS 2020</a>													
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#resgdis2019" data-toggle="tab">RESOLUCIONES GDIS 2019</a>													
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#resgdis2018" data-toggle="tab">RESOLUCIONES GDIS 2018</a>													
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#resgdis2017" data-toggle="tab">RESOLUCIONES GDIS 2017</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#resgdis2016" data-toggle="tab">RESOLUCIONES GDIS 2016</a>													
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#resgdis2015" data-toggle="tab">RESOLUCIONES GDIS 2015</a>													
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#resgdis2014" data-toggle="tab">RESOLUCIONES GDIS 2014</a>													
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="tab-pane tab-pane-navigation active" id="resgdis2020">
                             
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
            

    </body>

</html>